<!-- <mat-toolbar color="primary">
    <mat-toolbar-row style="justify-content: space-between">
        <span>Clientes</span>
        <button (click)="print()">print</button>
    </mat-toolbar-row>
</mat-toolbar> -->



<mat-sidenav-container>
    <mat-toolbar color="white" class="mat-elevation-z3">
        <mat-toolbar-row style="justify-content: space-between">
            <span >Clientes</span>
            <button  
                (click)="print()"
                color="primary"
                mat-icon-button [disabled]="showDropZone" aria-label="imprimir">
                <mat-icon>print</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div wrapper>
        <mat-card class="card mat-elevation-z3" [ngClass]="showDropZone ? 'center' : '' ">

            <button (click)="download()" color="primary">TTTT</button>
            <ngx-dropzone (change)="onFileChange($event)" accept=".csv" *ngIf="showDropZone">
                <ngx-dropzone-label>Adjunta el excel!</ngx-dropzone-label>
            </ngx-dropzone>

            <ng-container *ngIf="!showDropZone">

                <mat-list-item>
                    <div mat-line>
                        <strong>Total: </strong> {{total | currency: 'CLP' : '$' }}
                    </div>
                </mat-list-item>

                <div style="overflow: auto; height: 95%;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Rut</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index;">
                                <th scope="row">{{i}}</th>
                                <td>{{cliente.rut}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.total | currency: 'CLP' : '$'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total: </td>
                                <td>{{total | currency: 'CLP' : '$'}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
              
            </ng-container>
        </mat-card>

    </div>
</mat-sidenav-container>

<div hidden="true"  id="print-section" class="print-section">
    <div class="section">
        <p class="title">Clientes</p>
        <span><strong>Fecha:</strong> {{date | date: 'dd/MM/yyyy HH:mm'}}</span>
        <span><strong>Total:</strong> {{total | currency: 'CLP' : '$'}}</span>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes; let i = index;">
                <th scope="row">{{i +1}}</th>
                <td>{{cliente.rut}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.total | currency: 'CLP' : '$'}}</td>
            </tr>
        </tbody>
    </table>

</div>
